@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

html {
  background-color: black;
  opacity: 1;
}

h2 {
  font-size: 36px;
  opacity: 1;
}

/* nav rules */

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 30px;
  background-color: black;
  border: 1px solid white;
  opacity: 1;
  z-index: 15;
}

.nav-links {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links a {
  text-decoration: none;
}

.logo-mini {
  height: fit-content;
  font-size: 36px;
}

/* splash rules */

.splash {
  position: relative;
  top: 69px;
  height: 500px;
  width: 90%;
  max-width: 1050px;
  margin: auto;
  display: flex;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1509130298739-651801c76e96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  opacity: 1;
  border: 1px solid white;
}

.splash-banner {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
  background-color: black;
}

/* products rules */

#products {
  position: relative;
  top: 100px;
  width: 90%;
  max-width: 1050px;
  margin: auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 27%;
  min-width: 260px;
  padding: 5px;
  margin: 5px;
  background-color: #101010;
}

.product img {
  width: 250px;
  height: 175px;
}

.product h3 {
  margin: 10px;
}

/* team rules */

#team {
  position: relative;
  top: 120px;
  width: 90%;
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#team h2 {
  margin: 10px;
}

.team-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  width: 255px;
  min-width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  background-color: #101010;
}

.team-member img {
  width: 90%;
}

.team-member h3 {
  width: 100%;
  height: auto;
}

/* contact rules */

#contact {
  position: relative;
  top: 120px;
  width: 90%;
  height: 170px;
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
